span a {
  top: 0;
  font-size: 15px;
  color: #00aaa0;
  text-decoration: none;
}

div .row {
  padding: 0;
}

.next {
  text-align: center;
}

.GitHub-link {
  margin-top: 8px;
  text-align: center;
  font-size: 15px;
  font-family: "Cabin Sketch", cursive;
}

p a {
  color: #00aaa0;
}

div #city-input {
  background: #8ed2c9;
  color: #fcf4d9;
}

div #city-input:focus {
  background: #8ed2c9;
  color: #fcf4d9;
  box-shadow: 0px 0px 47px 1px rgba(251, 245, 155, 0.6);
}

div .btn-outline-secondary {
  background: #74c0b6;
  border: 1px solid #fcf4d9;
  color: #fcf4d9;
}

div .btn-outline-secondary:hover {
  background: #fcf4d9;
  border: 1px solid #00aaa0;
  color: #74c0b6;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 47px 1px rgba(251, 245, 155, 0.6);
}

.card-body .h1 {
  font-size: 57px;
  text-align: center;
  color: #00aaa0;
  padding-top: 28px;
}

.next-day {
  color: #00aaa0;
}

.card {
  display: block;
  margin: 0 auto;
  width: 600px;
  font-family: "Cabin Sketch", cursive;
}

.card-body {
  background: #8ed2c9;
  border-radius: 3px;
}

.current {
  text-align: left;
  margin: 10px;
  color: #fcf4d9;
}

#time {
  font-size: 30px;
}

#current-date {
  font-size: 20px;
}

.day {
  font-size: 14px;
}

/* .right-col .currentTemperature {
  font-size: 90px;
} */

.temperature-block .currentTemperature {
  font-size: 90px;
  position: relative;
  top: 19px;
}

.temperature-block .units {
  position: relative;
  top: -28px;
}

.units a:hover {
  color: #ffe693;
}

.fa-solid {
  color: #d55b3e;
}
.next-temperature {
  color: #fcf4d9;
}

form .form-control {
  background-color: #8ed2c9;
  color: #fcf4d9;
}

.units .active {
  color: #fcf4d9;
  cursor: default;
}
.units .active:hover {
  color: #fcf4d9;
  cursor: default;
}
